{{ define "main" }}

<section class="section">
  <div class="container">
    <h2 class="mb-2">{{.Title }}</h2>
    <hr />
    <div class="content">{{.Content}}</div>
    <a href='{{"weekly-meetings/" | absURL}}'
      >&#10550; Return To Meetings Page</a
    >
  </div>
</section>

{{ end }}
