{{ define "main" }}

<section class="section">
  <div class="container">
    <h1 class="text-center">Contribute</h1>
    <p class="mt-5">
      GNUKhata is a free and open source software. There are multiple ways in
      which you can contribute to the improvement by filing bugs, providing new
      ideas, translations, code changes.
    </p>
    <h2 class="text-center mt-5">Get Help</h2>
    <div class="text-center">
      For general help, Please join the below groups
    </div>
    <div class="row text-center mt-5 gk-contact">
      <div class="col">
        <a href="https://t.me/gnukhata" class="text-dark">
          <img
            src='{{"bootstrap-icons/telegram.svg" | absURL}}'
            alt="telegram"
          />
          <figcaption>Telegram</figcaption>
        </a>
      </div>
      <div class="col">
        <a href="https://matrix.to/#/#gnukhata:poddery.com" class="text-dark">
          <img src='{{"images/matrix.svg" | absURL}}' alt="matrix link" />
          <figcaption>Matrix</figcaption>
        </a>
      </div>
      <div class="col">
        <a
          href="https://www.freelists.org/list/gnukhata-users"
          class="text-dark"
        >
          <img
            src='{{"bootstrap-icons/envelope-fill.svg" | absURL}}'
            alt="mailing list link"
          />
          <figcaption>Mailing List</figcaption>
        </a>
      </div>
    </div>
    <h2 class="text-center mt-5">Development</h2>
    <div class="text-center">
      For development related discussions, Please join the below groups. You can
      read our
      <a href='{{"weekly-meetings" | absURL }}'>Weekly Meeting Notes</a>
    </div>
    <div class="row text-center mt-5 gk-contact">
      <div class="col">
        <a class="text-dark" href="https://t.me/gnukhata_devel">
          <img
            src='{{"bootstrap-icons/telegram.svg" | absURL}}'
            width="50px"
            alt="telegram"
          />
          <figcaption>Telegram</figcaption>
        </a>
      </div>
      <div class="col">
        <a
          href="https://matrix.to/#/#gnukhata-devel:poddery.com"
          class="text-dark"
        >
          <img src='{{"images/matrix.svg" | absURL}}' alt="matrix link" />
          <figcaption>Matrix</figcaption>
        </a>
      </div>
      <div class="col">
        <a
          href="https://www.freelists.org/list/gnukhata-devel"
          class="text-dark"
        >
          <img
            src='{{"bootstrap-icons/envelope-fill.svg" | absURL}}'
            width="50px"
            alt="mailing list"
          />
          <figcaption>Mailing List</figcaption>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
