{{ define "main" }}

<section class="section">
  <div class="container">
    <h1 class="mb-2">{{.Title | markdownify}}</h1>
    <!-- date / time -->
    <div class="text-monospace">
      {{.PublishDate.Format "January 2, 2006"}} | Reading Time: {{.ReadingTime}}
      min
    </div>
    <hr />
    <!-- blog post body -->
    <div class="content">{{.Content}}</div>
  </div>
</section>

{{ end }}
