{{ $data := index .Site.Data .Site.Language.Lang }} {{- if
$data.homepage.features.enable }} {{- with $data.homepage.features }}
<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      <div class="col-md-4">
        {{ range .left_side }}
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <div class="col-md-4 text-center align-self-center mb-0 mb-md-0">
        <img
          class="img-fluid border rounded-lg border-dark"
          src='{{ "images/Mobile_Mode.png" | absURL }}'
          width="300px"
          alt="Mobile Dashboard"
        />
      </div>
      <div class="col-md-4">
        {{ range .right_side }}
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- .container close -->
</section>
{{- end }} {{- end }}
